- name: set up cron job (ansible_pull)
  cron:
    user: ansible
    name: "ansible provision"
    minute: "*/10"
    job: "/usr/bin/ansible_pull -o -U https://github.com/CarlosLopes72/ansible_pull.git ./dev/null"
